@import "vars.sass"

*
	margin: 0
	padding: 0
	box-sizing: border-box
	::after
		content: " "
		display: block
		width: 100%
		height: 0
		clear: both
	
body
	// background-color: rgba(242, 242, 242, 0.7) 
	width: 100%
	height: 100%

#dummy
	background-image: url(../img/dummy_2.jpg)
	height: 100vh
	width: 100%
	background-size: cover
	opacity: 0.5
	position: absolute
	z-index: -1

#uademo
	width: 100%
	height: 100%
	.menu
		width: 100%
		height: 110px
		background-color: white
		.logo_wrap
			height: 100%
			width: 250px
			margin: auto
			display: inline-block
			position: relative
			// background-color: blue
			.logo
				height: 60px
				width: 150px
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				margin: auto
				display: inline-block
				img
					display: block
					width: 150px
				.inc
					height: 20px
					float: left
					font-size: 14px
					// background-color: yellow	
		.reg_nav	
			// background-color: green
			height: 100%
			width: 350px
			float: right
			.reg_wrap
				display: inline-block
				text-align: center
				width: 100%
				margin-top: 25px
				.login
					letter-spacing: 1.0px
					margin-left: 3px
					margin-right: 3px
					display: inline-block
					font-size: 20px
					font-family: Arial	
				.link
					cursor: pointer
					text-decoration: none
					color: #1659cd
				.active
					&:hover
						border-bottom: 1px solid #1659cd	
	.content
		width: 100%
		height: 900px
		background-color: #f2f2f2
		position: relative		
		.under_menu_bg
			width: 100%
			height: 100px	
			background-image: url(../img/header_portals.png)
			background-repeat: no-repeat
			background-size: 100%
		.main_container
			box-shadow: 0px 5px 38px 0 rgba(0,0,0,0.1)
			// border: 1px solid black
			// z-index: 10
			margin: -60px auto 
			width: 780px
			height: 800px
			background-color: white
			// background-color: rgba(0, 0, 0, 0.3)
			.container_title
				widht: 100%
				height: 200px
				background-color: dodgerblue
				opacity: 0.5
				.p_text
					padding: 50px 50px
					font-size: 30px
					font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
					line-height: 42px
					letter-spacing: .6px
					color: #444
			.container_data
				background-color: forestgreen
				height: 450px
				widht: 100%
				opacity: 0.5
				.select_wrap
					display: inline-block
					margin-top: 60px
					background-color: gold
					width: 100%
					height: 260px
					text-align: center
					.item_sel
						position: relative
						background-color: blue
						width: 100%
						height: 75px
						margin-bottom: 20px
						select
							color: #444
							width: 65%
							height: 100%
							font-size: 21px
							padding-left: 10px
							border-color: #4ACF7E
							border-radius: 8px
							cursor: pointer
							outline: none
						.verify
							display: none
							position: absolute
							right: 100px
							top: 0
							bottom: 0
							margin: auto
							width: 30px
							height: 30px
				.submit_btn
					width: 100%
					position: relative
					background-color: brown
					height: 130px
					.input_submit
						width: 500px
						position: absolute
						bottom: 0
						left: 0
						right: 0
						margin: auto
						height: 70px
						padding: 30px 0
						margin: 0 auto
						padding: 10px 0
						//margin-top: 55px
						background-color: rgba(75, 193, 121, 1.9)
						color: #fff
						font-size: 20px
						border-radius: 5px
						display: block
						border: thin solid green
						border-color: #4ACF7E
						text-decoration: none
						cursor: pointer
						font-weight: bold
						background-image: url(../img/icon_protect.png)
						background-position: 140px 22px
						background-repeat: no-repeat
						transition: 0.4s
						&:hover
							background-color: #399f61
			.container_footer
				background-color: lime
				height: 150px
				widht: 100%
				opacity: 0.5
				text-align: center
				.comodo_secure
					margin-top: 30px



	
.main_wrap
	//background-color: red
	width: 35%
	height: 730px
	grid-gap: 10px
	margin: 80px auto
	line-height: 30px
	padding: 5px auto
	flex-wrap: wrap
	.header
		//background-color: brown
		width: 100%
		height: 25%
		padding: 5px
		margin: 50px auto

		p
			padding: 30px
			font-size: 30px
			font-weight: normal
			font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
			line-height: 35px
			letter-spacing: 0.35px

	.select_wrapper
		// background-color: yellow
		width: 600px
		height: 500px
		margin: 35px auto
		text-align: center
		// display: none
		.item_wrap
			display: inline-block
			margin: auto
			width: 100%
			height: auto
			// background-color: blue
			position: relative
			margin: 10px 0px 10px 0px		
			select
				//background-color: red
				// display: block
				width: 450px
				cursor: pointer
				height: 60px
				font-size: 21px
				border: thin solid green 
				border-color: #4ACF7E
				border-radius: 8px
				margin: auto
				display: inline-block
				// padding: px
				// float: left 
				option
					font-size: 21px
					padding: 10 px 0  
					background-color: rgba(75, 193, 121, 0.2)
					//font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
					//line-height: 35px
			.verify
				display: inline-block
				position: absolute
				right: 20px
				top: 0
				bottom: 0
				margin: auto
				// float: left
				width: 35px
				height: 35px
				// background-color: darkred
			.success 
				display: none
			.error
				display: none
					
		.panel
			height: 11%
			width: 1.1%
			margin-top: 5px 
			margin-left: 570px
			background-image: url(../img/new_form_design_success.png), url(../img/new_form_design.png) 
			background-position: top right 0.1px, bottom left 0.1px
			background-repeat: repeat-x, repeat-x
			font-size: 18px
			//background-color: red
			position: absolute
			// display: none
			
			
.bottom
	height: 48%
	width: 100%
	padding: 10px 0
	margin-top: 30px
	//background-color: brown
	.link_btn
		text-decoration: none
		.btn_submit
			height: 58px
			padding: 30px 0
			margin: 0 auto
			padding: 10px 0
			//margin-top: 55px
			width: 72%
			background-color: rgba(75, 193, 121, 1.9)
			color: #fff
			font-size: 19px
			border-radius: 5px
			display: block
			border: thin solid green
			border-color: #4ACF7E
			text-decoration: none
			cursor: pointer
			font-weight: bold
			background-image: url(../img/icon_protect.png)
			background-position: 120px
			background-repeat: no-repeat
			&:hover
				background-color: #3b8822



.panel_title
	//background-color: lime
	width: 25%
	height: 55px
	margin: 0 auto
	margin-top: 20px
	padding: 10px 0
	.icon
		margin: 0 auto
		width: 100%
		height: 80px
		background-image: url(../img/comodo_secure.png)
		background-repeat: no-repeat
		//background-color: red
.video
	background-color: red
	height: 30px
	margin: 0 auto

	.video_name
		background-color: yellow
		color: black
		height: 33px
		width: 20%
		font-color: black
		margin: 10px auto
		padding: 5px 0 
		font-size: 19px
		text-decoration: none
		
.footer
	//background-color: blue
	height: 11%
	width: 1650px	
	margin: 10px auto 
	border-top: 1px solid darkgrey
	background-image: url(../img/footer_logo_us.png) 
	background-repeat: no-repeat
	background-position: 790px
	

.hidden
	display: none	



			

	    
		






	
	